extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class='img-fluid')

            .col-md-7
                h1 #{pagina} 
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat lacinia iaculis. Nunc in metus mi. Vestibulum consectetur, nisl eget euismod pharetra, ipsum magna pharetra enim, ornare varius turpis sem sit amet libero. Aliquam venenatis, ipsum eget pharetra feugiat, dolor quam convallis ex, quis pretium nulla nisi accumsan ipsum. 

                p Vestibulum sollicitudin id erat sed dictum. Sed quis sem pharetra, dapibus elit in, pellentesque justo. Nulla ullamcorper scelerisque odio, sed varius nisi pharetra a. Quisque at nisi eros. Aenean sodales enim eget turpis placerat placerat. Phasellus sit amet turpis sit amet ipsum euismod gravida ut id mauris. Phasellus volutpat viverra libero id volutpat.

                p Nullam pulvinar, neque sit amet faucibus congue, nulla diam rhoncus nunc, ut auctor ante dolor a risus. Donec commodo purus in nisi consectetur, id vestibulum odio placerat. Mauris efficitur efficitur massa, nec ultrices leo maximus a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis eget dui lectus. Donec eget hendrerit dui. Sed erat felis, mattis et lorem sagittis, lobortis viverra justo.

    .listado-iconos 
         .container.mt-6.py-5.text-center 
             .row
                 .col-md-4 
                     img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                     h2.mb-4 Seguridad 
                     p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis eget dui lectus. Donec eget hendrerit dui.
                 .col-md-4 
                     img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                     h2.mb-4 Mejores Destinos 
                     p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis eget dui lectus. Donec eget hendrerit dui.
                 .col-md-4 
                     img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                     h2.mb-4 Los mejores Precios
                     p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis eget dui lectus. Donec eget hendrerit dui.

            
                    
